[env]
# Load environment variables from .env file
_.file = ".env"

SQLC_DB_HOST = "localhost"
SQLC_DB_PORT = "10984" # 10984 is a randomly chosen number that should "hopefully" not conflict with any port in use.
SQLC_DB_USER = "sqlc_user"
SQLC_DB_PASS = "sqlc_password"
SQLC_DB_NAME = "sqlc_db"

[settings]
color = false

[tools]
"go" = "1.25.0"
"golangci-lint" = "v2.4.0"
"aqua:sqlc-dev/sqlc" = "1.29.0"
"aqua:quarylabs/sqruff" = "v0.29.3"
"go:github.com/g4s8/envdoc" = "v1.8.0"
"go:github.com/g4s8/envdoc/docenv" = "v1.8.0"

[task_config]
includes = [
    "scripts/mise_tasks"
]

[tasks.default]
description = "Display all available tasks"
# `quiet = true` needs to be added to every task to suppress the command running and show only the echoed messages.
# It would be more convenient to add it as a global setting but doing that unfortunately prevents tool installation progress from being displayed.
quiet = true
run = [
    "echo 'For first-time setup, run: mise init'",
    "echo 'Available tasks:'",
    "mise tasks"
]

[tasks.init]
description = "First-time setup after cloning the repository"
quiet = true
run = [
    "echo 'Configuring git hooks directory...'",
    "git config core.hooksPath .git-hooks",
    "cp -n example.env .env" # A .env file is created from the example env file if one does not already exist.
]

[tasks.test]
description = "Run all tests in codebase"
quiet = true
run = [
    "echo 'Running tests...'",
    "go clean -testcache",
    "go test ./..."
]

[tasks.tidy]
description = "Format the codebase uniformly and vendor dependencies"
quiet = true
run = [
    "echo 'Tidying dependencies...'",
    "go mod tidy -v",
    "go mod vendor",
    "echo 'Formatting Go codebase...'",
    "golangci-lint fmt",
    "echo 'Formatting SQL migration files...'",
    "sqruff fix ./cmd/migrations/schema",
    "echo 'Formatting Sqlc queries...'",
    "sqruff fix ./repositories/database/postgres/queries",
    "echo 'Synchronising config documentation...'",
    "mise run config_docs"
]

[tasks.sqlc]
description = "Regenerate Sqlc queries"
depends = ["sqlc_setup"]
depends_post = ["sqlc_teardown"]
quiet = true
run = [
    "echo 'Vetting Sqlc queries...'",
    "sqlc vet",
    #
    "echo 'Regenerating Sqlc queries...'",
    "sqlc generate"
]


[tasks.sqlc_setup.env]
MIGRATIONS_DB_HOST = "{{env.SQLC_DB_HOST}}"
MIGRATIONS_DB_PORT = "{{env.SQLC_DB_PORT}}"
MIGRATIONS_DB_USER = "{{env.SQLC_DB_USER}}"
MIGRATIONS_DB_PASS = "{{env.SQLC_DB_PASS}}"
MIGRATIONS_DB_NAME = "{{env.SQLC_DB_NAME}}"

[tasks.sqlc_setup]
description = "Set up the Postgres container to be used for Sqlc operations"
quiet = true
hide = true
run = [
    "echo 'Formatting SQL queries...'",
    "sqruff fix ./repositories/database/postgres/queries",
    #
    "echo 'Setting up Sqlc Postgres container...'",
    # The Docker container is always dropped at the start in case it wasn't properly dropped after the last Sqlc run.
    "docker compose --file docker-compose.yaml down --volumes postgres-sqlc",
    "docker compose --file docker-compose.yaml up --wait postgres-sqlc",
    #
    "echo 'Running migrations...'",
    "cd ./cmd/migrations && go run . up",
    #
    "echo 'Regenerating sqlc.yaml...'",
    "./sqlc.sh"
]

[tasks.sqlc_teardown]
description = "Drop the Postgres container used for Sqlc operations"
quiet = true
hide = true
run = [
    "echo 'Dropping Sqlc Postgres container...'",
    "docker compose --file docker-compose.yaml down --volumes postgres-sqlc",
]

[tasks.vet_go]
description = "Vet only Go code"
quiet = true
run = [
    "echo 'Vetting Go code...'",
    "go mod verify",
    "golangci-lint run ./...",
    "go vet -vettool=$(which docenv) ./cmd/api/internal/config.go",
    "go vet -vettool=$(which docenv) ./cmd/migrations/internal/config.go"
]

[tasks.vet_sql]
description = "Vet only SQL code"
quiet = true
depends = ["sqlc_setup"]
depends_post = ["sqlc_teardown"]
run = [
    "echo 'Linting SQL migration queries...'",
    "sqruff lint ./cmd/migrations/schema",
    "echo 'Linting Sqlc queries...'",
    "sqruff lint ./repositories/database/postgres/queries",
    "echo 'Vetting Sqlc queries...'",
    "./sqlc.sh",
    "sqlc diff",
    "sqlc vet",
]

[tasks.config_docs]
description = "Synchronise the configuration markdown and example files with the current envs in the codebase"
env = { EXAMPLE_ENV_FILE = "example.env" }
quiet = true
hide = false # This is hidden because it's meant to be called by the `tidy` task.
run = [
    "go generate ./cmd/api/internal/config.go",
    "go generate ./cmd/migrations/internal/config.go",
    "echo '# API' > ${EXAMPLE_ENV_FILE}",
    "cat ./cmd/api/config.env >> ${EXAMPLE_ENV_FILE}",
    "echo '# MIGRATIONS' >> ${EXAMPLE_ENV_FILE}",
    "cat ./cmd/migrations/config.env >> ${EXAMPLE_ENV_FILE}",
    "rm ./cmd/api/config.env",
    "rm ./cmd/migrations/config.env"
]