name: Go vet and tests

on:
  push:
    branches:
      - '*'

jobs:
  vet:
    name: Verify modules and lint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v3

      - name: Install Mise
        uses: jdx/mise-action@v3
        with:
          version: 2025.11.2

      - name: Run vet checks
        run: mise run vet --go

  test:
    name: Run tests

    runs-on: ubuntu-latest

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v3

      - name: Install Mise
        uses: jdx/mise-action@v3
        with:
          version: 2025.11.2

      - name: Run tests
        run: mise run test
