name: SQL operations

on:
  push:
    branches:
      - '*'

jobs:
  sqlc:
    name: Vet SQL migrations and Sqlc queries

    runs-on: ubuntu-latest

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v3

      - name: Install Mise
        uses: jdx/mise-action@v3
        with:
          version: 2025.11.2

      - name: Run vet checks
        run: mise run vet --sql
